<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head th:replace="fragments/header :: h"></head>
	
  <body>
		<div th:insert= "fragments/header :: menu"></div>
			<h1>Plant Types</h1>
			<table>
						<tr>
							<th style="width: 150px;">ID</th>
							<th style="width: 150px;">NAME</th>
							<th style="width: 150px;">IDEAL TRACK</th>
						</tr>
						<tr th:each="typ : ${types}">
							<td> <p th:text="${typ.id}"></p> </td>
							<td> <p th:text="${typ.name}"></p> </td>
							<td> <p th:text="${typ.trackmin + '% - '  + typ.trackmax + '%'}"></p> </td>
						</tr>
			</table>
			
			
  </body>
</html>
