<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

<body>
	<h1>Sensor Details</h1>

	<table id="sensors" class="table table-striped">
		<thead>
		<tr>
			<th style="width: 150px;">Sensor</th>
			<th style="width: 150px;">Type</th>
			<th style="width: 150px;">Humidity</th>
			<th style="width: 150px;">Status</th>
			<th style="width: 150px;">Ideal Track</th>
			<th style="width: 150px;">Date Time</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="plan : ${sensor}">
			<td th:text="${plan.idSensor.id}" />
			<td><a th:href="@{/plants/__${plan.type.id}__}"
				th:text="${plan.type.name}" /></a></td>
			<td th:text="${plan.humidity + '%'}" />
			<td th:text="${plan.status}" />
			<td
				th:text="${plan.type.trackmin + '% - '  + plan.type.trackmax + '%'}" />
			<td th:text="${plan.dataTime}" />
		</tr>
		</tbody>
	</table>

</body>
</html>
