<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head th:replace="fragments/header :: h"></head>
	
  <body>
  	<div th:insert= "fragments/header :: menu"></div>
		<div th:insert= "fragments/header :: menu"></div>
			<h1>Sensors List</h1>
			<table>
						<tr>
							<th style="width: 150px;">ID</th>
							<th style="width: 150px;">NAME</th>
						</tr>
						<tr th:each="sen : ${sensors}">
							<td> <p th:text="${sen.id}"></p> </td>
							<td> <p th:text="${sen.name}"></p> </td>
						</tr>
			</table>
			
			
  </body>
</html>
