<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head th:replace="fragments/header :: h"></head>
	
  <body>
  		<div th:insert= "fragments/header :: menu"></div>
			<h1>Plant Details</h1>
			    <table>
			        <tr>
			            <th style="width: 150px;">Sensor</th>
			            <th style="width: 150px;">Type</th>
			            <th style="width: 150px;">Humidity</th>
			            <th style="width: 150px;">Status</th>
			            <th style="width: 150px;">Ideal Track</th>
			            <th style="width: 150px;">Date Time</th>
			        </tr>
			          <tr th:each="plan : ${plant}">
			              <td>
			                  <a th:href="@{/sensors/__${plan.idSensor.id}__}" th:text="${plan.idSensor.id}"/></a>
			              </td>
			              <td th:text="${plan.type.name}"/>
			              <td th:text="${plan.humidity + '%'}"/>
			              <td th:text="${plan.status}"/>
			              <td th:text="${plan.type.trackmin + '% - '  + plan.type.trackmax + '%'}"/>
			              <td th:text="${plan.dataTime}"/>
			          </tr>
			    </table>
			
  </body>
</html>
