<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

  <body>

    <h2>Sensor Details</h2>

    <table class="table table-striped" th:object="${sensor}">
      <tr>
        <th>Plant</th>
        <td><b th:text="*{plant}"></b></td>
      </tr>
      <tr>
        <th>Ideal track</th>
        <td><b th:text="*{track}"></b></td>
      </tr>
      <tr>
        <th>Current humidity</th>
        <td><b th:text="*{humidity}"></b></td>
      </tr>
    </table>

  </body>
</html>
